<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/signIn.css" />

    <title>checkout</title>
  </head>
  <body>
    <div class="checkout-parent">
      <h2 class="title">Checkout</h2>
      <div class="checkout-conatainer">
        <div class="form-conatiner">
          <form>
            <div class="input-container">
              <label>Name</label>
              <input type="text" disabled value="<%= user.name %>" />
            </div>
            <div class="input-container">
              <label>Email</label>
              <input type="email" disabled value="<%= user.email %>" />
            </div>
            <div class="input-container">
              <label>Phone</label>
              <input type="tel" required />
            </div>
            <div class="input-container">
              <label>Address</label>
              <input id="addressInput" type="text" required />
            </div>
            <button type="button" onclick="checkoutCart(event)">Pay</button>
          </form>
        </div>
        <div class="summry">
          <div class="summry-title">
            <h3>Review your cart</h3>
          </div>
          <div class="summry-component">
            <% cart.forEach(product => {%>
            <div class="product-aside">
              <img src="<%= product.image %>" alt="<%= product.name %>" />
              <div class="product-aside-details">
                <h3><%= product.name %></h3>
                <span><%= product.price %>$</span>
              </div>
            </div>
            <%})%>
          </div>
          <div class="total-div">
            <h2>Total Amount: <span><%= total %>$</span></h2>
          </div>
        </div>
      </div>
    </div>
    <script>
      async function checkoutCart(event) {
        event.preventDefault();
        console.log("flag");
        const phone = document.querySelector('input[type="tel"]').value;
        const address = document.getElementById("addressInput").value;
        const response = await fetch("/payments/checkout", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `<%= user.token %>`,
          },
          body: JSON.stringify({ shippingAddress: address }),
        });
        const data = await response.json();
        console.log(data);
        if (data.success) {
          console.log(data);
          window.location.href = data.shorten_url;
        } else {
          alert("Order failed");
        }
      }
    </script>
  </body>
</html>
